@model WebApplication21.Models.DersProgrami

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DersProgrami</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.DersId, "Ders", new { @class = "control-label" })
                @Html.DropDownListFor(model => model.DersId, ViewBag.DersId as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DersId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.tarih, "Tarih", new { @class = "control-label" })
                @Html.TextBoxFor(model => model.tarih, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tarih, "", new { @class = "text-danger" })
            </div>
          
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
